server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://127.0.0.1:8080/;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Prefix /;

        gzip on;
        gzip_min_length 2048;
        gzip_comp_level 6;
        gzip_types
            text/plain
            text/html
            text/css
            application/javascript
            application/json;
    }
}