[Unit]
Description=PV Control

[Service]
User=pi
WorkingDirectory=/usr/local/bin/pvcontrol
ExecStart=/home/pi/pv-control-3.13/bin/python -m pvcontrol --host 127.0.0.1 --basehref /pvcontrol
Restart=always

[Install]
WantedBy=multi-user.target