// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;


html {
  color-scheme: light dark;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: color-scheme,
      ),
      typography: Roboto,
      density: 0));
}

.col-primary {
  color: var(--mat-sys-primary);
}

.col-grey {
  color: #9E9E9E;
}

.col-yellow {
  color: #ffc107;
}

.col-green {
  color: #28a745;
}

.col-red {
  color: #dc3545;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* text */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* margins */
.ml-1 {
  margin-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

/* flex and grid layout, https://github.com/angular/flex-layout/issues/1426 */
.flex-row {
  display: flex !important;
  flex-direction: row;
}

.flex-col {
  display: flex !important;
  flex-direction: column;
}

.flex-1 {
  flex: 1
}

.flex-grow {
  flex-grow: 1;
}

.flex-none {
  flex: none
}

.justify-center {
  justify-content: center;
}

.gap-10 {
  gap: 10px;
}

.grid {
  display: grid !important;
}

.grid-col-span-2 {
  grid-column: span 2 / auto;
}

// self-hosted material symbols
// for development: add to index.html:
//     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0..1,0&display=block&icon_names=autorenew,battery_0_bar,battery_1_bar,battery_2_bar,battery_3_bar,battery_4_bar,battery_5_bar,battery_6_bar,battery_charging_20,battery_charging_30,battery_charging_50,battery_charging_60,battery_charging_80,battery_charging_90,battery_charging_full,battery_full,battery_unknown,electric_car,ev_station,home,hourglass_bottom,power,power_off,thermometer,wb_sunny" />
// Note: icon_names param doesn't work with FILL=1, only with FILL=0..1
// for production: download the font and save as matsymbols.woff2 in src/media folder

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(./media/matsymbols.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 1
    /* use filled icons by default */
}

/* others */

.spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}