@use '@angular/material' as mat;
@use '../themes';

.content {
  padding: 16px;
}

/* enforce mat-elevation-z4 */
mat-card.mat-mdc-card {
  @include mat.elevation(4);
}

mat-card-header {
  display: block; // hack to fix layout of card title
  padding: 16px;
}

mat-card-title {
  font-size: 24px;
}

mat-card-content {
  padding-bottom: 16px;
}

// = mat-primary + mat-body-strong
.active {
  font-weight: 500;
  color: mat.get-color-from-palette(themes.$light-primary, 'default') !important;
}
:host-context(.dark-theme) {
  .active {
    font-weight: 500;
    color: mat.get-color-from-palette(themes.$dark-primary, 'default') !important;
  }
}

.grid-template-pv {
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 600px) {
  .grid-template-pv {
    grid-template-columns: 300px 300px;
  }
}