@use '@angular/material' as mat;

.content {
  padding: 16px;
}

/* enforce mat-elevation-z4, fix shadow color for dark theme */
mat-card.mat-mdc-card {
  @include mat.elevation(4);
  @media (prefers-color-scheme: dark) {
    @include mat.elevation(4, white);
  }
}

mat-card-header {
  display: block; // hack to fix layout of card title
  padding: 16px;
}

mat-card-title {
  font-size: 24px;
}

mat-card-content {
  padding-bottom: 16px;
}

// = mat-primary + mat-body-strong
.active {
  font-weight: 500;
  color: var(--mat-sys-primary) !important;
}

// less font-weight for button toggles unless active
#card-chargemode {
  @include mat.button-toggle-overrides((
    label-text-weight: 400,
  ));
}

.grid-template-pv {
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 600px) {
  .grid-template-pv {
    grid-template-columns: 300px 300px;
  }
}